django
daphne
django-cors-headers
djangorestframework
django-filter
django-allauth
djangorestframework-simplejwt
python-dotenv
dj-database-url
psycopg2-binary
whitenoise
gunicorn
requests
xhtml2pdf
reportlab
